<div class="container-fluid scroll-modal py-3" id="frame-card">
    <div class="modal-body  px-4 py-3 my-5 ">
        <div class="container text-center mx-auto py-5 ">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.5478257517725!2d3.5502509120366796!3d6.452045682588039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf72f477bb401%3A0xc832251c93182f1d!2sMega%20Chicken%20Restaurant%20Ltd!5e0!3m2!1sen!2sng!4v1677099109972!5m2!1sen!2sng"
                class=" fv-row mb-7 col-lg-12 col-md-12 col-sm-12" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>