<div class="container-fluid py-4">
    <h3 class="py-4">Our Works</h3>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <div class="container py-4">
        <div class="row text-center">
            <div class="fv-row mb-7 mt-2 col-lg-4 col-md-4 col-sm-12">
                <img src="/assets/images/mbr-2.jpg" class="img-fluid works-img" alt="">
            </div>
            <div class="fv-row mb-7 mt-2 col-lg-4 col-md-4 col-sm-12">
                <img src="/assets/images/mbr-3.jpg" class="img-fluid works-img" alt="">
            </div>
            <div class="fv-row mb-7 mt-2 col-lg-4 col-md-4 col-sm-12">
                <img src="/assets/images/mbr-4.jpg" class="img-fluid works-img" alt="">
            </div>
        </div>
    </div>
</div>