<div class="container-fluid scroll-modal py-3" id="infor-card">
    <div class="container">
        <div class="modal-body my-5">
            <div>
                <div class="row justify-space-between">
                    <div class="fv-row mb-7 col-lg-4 col-md-4 col-sm-12">
                        <img src="/assets/images/team1.jpg" class="infor-img img-fluid" alt="a picture of a camera">
                    </div>
                    <div class="fv-row col-lg-7 col-md-6 col-sm-12 mt-5">
                        <div class="container mb-5 pb-4"></div>&nbsp;
                        <div class="container mt-5 py-5 px-4 infor-area">
                            <h4 class="py-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci nisl, rhoncus viverra fringilla in, luctus vitae elit.

                            </h4>
                            <small class="py-4">Gabriel Moreira</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>