<div class="container-fluid scroll-modal py-5" id="services-card">
    <h1 class="py-5 services-header text-center">Our Services</h1>
    <div class="modal-body my-5">
        <div class="container services-container">
            <div class="row text-center my-5 mx-auto">
                <div class="fv-row mb-7  px-3 col-lg-4 col-md-6 col-sm-12 py-5">
                    <fa-icon class="display-5 py-3  icon" [icon]="lightIcon"></fa-icon>
                    <h3 class="py-4 my-5">Interior Photography</h3>
                    <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu risus eget sapien pellentesque porttitor nec ut velit.</p>
                </div>
                <div class="fv-row mb-7 px-3 col-lg-4 col-md-6 col-sm-12 py-5">
                    <fa-icon [icon]="userIcon" class="display-5 icon py-3"></fa-icon>
                    <h3 class="py-4 my-5">Portrait Photo</h3>
                    <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu risus eget sapien pellentesque porttitor nec ut velit.</p>
                </div>
                <div class="fv-row mb-7 px-3 col-lg-4 col-md-6 col-sm-12 py-5">
                    <fa-icon class="display-5 icon py-3 my-5" [icon]="paletteIcon"></fa-icon>
                    <h3 class="py-4 my-5">Art Photo</h3>
                    <p class="my-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu risus eget sapien pellentesque porttitor nec ut velit.</p>
                </div>
            </div>
        </div>
    </div>
</div>