<div class="container-fluid scroll-modal py-5" id="about-card">
    <div class="container">
        <div class="modal-body my-5">
            <div>
                <div class="row justify-space-between">
                    <div class="fv-row mb-7 col-lg-5 col-md-4 col-sm-12">
                        <img src="/assets/images/mbr-1.jpeg" class="camera-img img-fluid" alt="a picture of a camera">
                    </div>
                    <div class="fv-row mb-7 col-lg-7 col-md-6 col-sm-12 my-5 px-5 py-5 about-text">
                        <h1 class="py-5 text-center">About Us</h1>
                        <div class="row">
                            <div class="fv-row mb-7 col-lg-6 col-md-6 col-sm-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices risus eget nunc ullamcorper, ut consectetur eros mattis. Praesent lobortis in est sit amet pretium.

                                </p>
                            </div>
                            <div class="fv-row mb-7 col-lg-6 col-md-6 col-sm-6">
                                <p>
                                    Fusce ante libero, ultrices sed ullamcorper quis, volutpat in metus. Mauris pulvinar, neque in porttitor faucibus, tortor enim.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>