<div class="container-fluid scroll-modal py-5" id="progress-card">
    <div class="modal-body px-4 my-5 mx-auto">
        <div class="container services-container text-left px-5 py-5">
            <h4 class="py-3">PROGRESS</h4>
            <h1 class="py-3">Our Competence</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices risus eget nunc ullamcorper, ut consectetur eros mattis. Praesent lobortis in est sit amet pretium. Fusce ante libero, ultrices sed ullamcorper quis, volutpat in metus. Mauris pulvinar,
                neque in porttitor faucibus.
            </p>
            <div class="row py-2">

                <div class="fv-row py-1 mb-7 col-lg-6">
                    Interior photography
                </div>
                <div class="fv-row mb-7 col-lg-6 text-end">
                    92%
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" style="width: 92%;">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row py-2">

                <div class="fv-row py-1 mb-7 col-lg-6">
                    Potrait photo
                </div>
                <div class="fv-row mb-7 col-lg-6 text-end">
                    71%
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" style="width: 71%;">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row py-2">

                <div class="fv-row py-1 mb-7 col-lg-6">
                    Art photo
                </div>
                <div class="fv-row mb-7 col-lg-6 text-end">
                    53%
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" style="width: 53%;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>