<div class="py-5 " id="photo-cont">
    <div class=" flex test-div mb-5 py-5">

        <div class="opacity-50" id="photo-para">
            <h1 class="my-5 py-5 ">Photographer</h1>
            <p class="my-5 py-5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices risus eget nunc ullamcorper, ut consectetur eros mattis. Praesent lobortis in est sit amet pretium.</p>
            <span class="navbar-text">
                    <button type="button" class="btn  mb-3">Send Message</button>
                </span>

        </div>
        <div class="my-5 py-5 photograph-div ">
            <img src="/assets/images/photo-girl.jpg " class="photo-img img-fluid" alt="random picture of a photographer">
        </div>

    </div>

</div>