<div class="container-fluid py-5 text-white" id="footer">
    <div class="row py-3">
        <div class="col-lg-4 col-md-4 col-sm-6 mt-5 mx-auto">
            <h5>About Us</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices risus eget nunc ullamcorper, ut consectetur eros mattis. Convallis fringilla arcu consequat condimentum lectus.
        </div>
        <div class="col-lg-2 col-md-2 text-left col-sm-2 mt-5 mx-auto">
            <h5>Company</h5>
            <li class="list-group-item">About</li>
            <li class="list-group-item">Jobs</li>
            <li class="list-group-item">Contact</li>
            <li class="list-group-item">Blog</li>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-left mt-5 mx-auto">
            <h5>Themes</h5>
            <li class="list-group-item">Features</li>
            <li class="list-group-item">Theme</li>
            <li class="list-group-item">Pricing</li>
            <li class="list-group-item">Infor</li>
        </div>
        <div class="col-lg-2 col-md-2 text-left col-sm-2 mt-5 mx-auto">
            <h5>Support</h5>
            <li class="list-group-item">Contacts</li>
            <li class="list-group-item">Testimonials</li>
            <li class="list-group-item">Terms Of Service</li>
            <li class="list-group-item">Help</li>
        </div>
    </div>
</div>