<!-- Toolbar -->

<div>
    <app-nav-bar></app-nav-bar>
    <app-photographer></app-photographer>
    <app-services></app-services>
    <app-about-us></app-about-us>
    <app-cards></app-cards>
    <app-images-area></app-images-area>
    <app-progress-area></app-progress-area>
    <app-faqs></app-faqs>
    <app-clients></app-clients>
    <app-email></app-email>
    <app-iframe></app-iframe>
    <app-infor></app-infor>
    <app-forms></app-forms>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>